<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ e.title }}-танцювальний дайджест</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container">
        <h2 class="title">{{ e.title }}</h2>
        {% if url %}
        <figure class="image ">
            <img src="{{ url }}">
        </figure>
        {% endif %}
        <div class="event">
            <strong>{{ e.weekday }}</strong> <span> {{ e.startTime }},</span>
            <span class="is-medium">{{ e.title }},</span>
            <span class="is-info">{{ e.address }},</span>
            баланс треків: <strong>{{ e.balance }},</strong>
            <span>вхід: {{ e.price }}</span>
            <br/>
            <pre>{{ e.description }}</pre>

            <a href="/">повернутись до списку вечірок</a>
        </div>
    </div>
</section>
</body>
</html>